

data/

__pycache__/

# Ignore the .env file containing environment variables
.env

# Ignore log files
*.log   

# Ignore database files
*.db

# Ignore compiled Python files
*.pyc
# Ignore coverage reports
.coverage

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment directories
venv/